html {
    width: 100vw;
}
.fg-header {
    background-color: #fff;
    height: 56px;
    width: 100vw;
    display: flex;
    align-items: center;
}

.fg-header .fb-logo {
    fill: #1877f2;
    padding-left: 8px;
}
.fg-container {
    background-color: var(--main-bg-color);
}
.fg-container form {
    border: none;
    border-radius: 8px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1), 0 2px 4px rgba(0, 0, 0, .1);
    background-color: #fff;
    margin: 80px auto;
    width: 500px;

}
form .form-header {
    font-family: SFProDisplay-Bold, Helvetica, Arial, sans-serif;
    font-size: 20px;
    line-height: 24px;
    margin-top: -15px;
    padding: 18px 16px 18px 18px;
    font-weight: bold;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

form .form-body {
    padding: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

form .form-body p {
    font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
    font-size: 17px;
    line-height: 20px;
    margin-bottom: 16px;

}

form .form-body input {
    border-radius: 6px;
    font-family: Roboto-Regular, Helvetica, Arial, sans-serif;
    font-size: 16px;
    height: auto;
    margin-bottom: 0;
    padding: 16px 0 16px 16px;
    width: 444px;
    -webkit-appearance: none;
    border: 1px solid #ccd0d5;
}
form .form-body input:focus {
    border-color: #1b74e4;
    box-shadow: 0 0 0 2px #e7f3ff;
    caret-color: #1b74e4;
    opacity: 0.85;
    outline: none;
}
form .form-footer {
    padding: 16px;
    text-align: right;
}
form .form-footer button {
    background-color: #1877f2;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    line-height: 36px;
    margin-left: 8px;
    padding: 0 20px;
    color: #fff;
    font-weight: bold;
}
form .form-footer a
{   display: inline-block;
    background-color: #e4e6eb;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    line-height: 36px;
    margin-left: 8px;
    padding: 0 20px;
    color: #4b4f56;
    font-weight: bold;
}
.error {
    border-color:red !important ;
}
.red {
    color: red;
}



.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
  }
  
  .popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 4px;
  }
  
  .success-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: green;
  }
  
  .success-description {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .success-btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    background-color: #1877f2;
    border-radius: 6px;
  }
  
  .success-btn:hover {
    background-color: #0e63ac;
  }