.setting-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 8px;
	border-radius: 8px;

	&:hover {
		cursor: pointer;
		background-color: var(--primary-bg-color-hover);
	}
}

.icon-title {
	display: flex;
	align-items: center;
	gap: 8px;
	.title {
		font-weight: bold;
	}
}

.icon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 36px;
	height: 36px;
	border-radius: 50%;
	font-size: 20px;
	color: #1d1f23;
	background-color: #e4e6eb;
}

.icon-level2 {
	margin-right: 8px;
	font-size: 20px;
}
